{% extends 'partials/layout.html' %}

{% block extrastyles %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar-offset">&nbsp;</div>
    <section id="editor-panel">

      <div class="mdl-grid" style="max-width: 85%;">
        <div class="mdl-cell mdl-cell--8-col">
          <div id="view"></div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div id="compiler"></div>
        </div>
      </div>
    </section>

    <a id="gallery-scroll"></a>
    <section id="features-detail" class="odd-section">
      <br>
      <div class="row inner-section section-preamble text-center flyIn">
        <h2>Ta-da-app! Examples?</h2>
        <p>
          We have prepared a collection of examples that may help you create your own Tapp.
        </p>
        <div class="hr"></div>
      </div>

      <div class="row inner-section platform-row">

        <div class="six columns flyLeft text-center">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img alt="desktop" src="assets/images/phone.png" />
              </li>

              <li>
                <img alt="desktop" src="assets/images/phone.png" />
              </li>

              <li>
                <img alt="desktop" src="assets/images/phone.png" />
              </li>
            </ul>
          </div>
        </div>

        <div id="ta_panel_randomwalk" class="six columns flyRight text-right">
          <h2 class="text-right">Random Walk</h2>
          <div class="hr"></div>
          <p class="text-right">
            Description for random walk.
          </p>
          <div class="green-btn" data-code="/examples/randomwalk.js.txt">Use code</div>
        </div>


      </div>

      <!--//
      <div class="mid-row">
      <div class="row inner-section platform-row">


      <div class="six columns flyLeft text-left">
      <h2 class="text-left">Tablet</h2>
      <div class="hr"></div>
      <p class="text-left">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    </p>
    <div class="green-btn">View Demo</div>
    <div class="blue-btn">Buy Now</div>
  </div>

  <div class="six columns flyRight text-center">
  <div class="flexslider">
  <ul class="slides">
  <li>
  <img alt="desktop" src="assets/images/pad.png" />
</li>

<li>
<img alt="desktop" src="assets/images/pad.png" />
</li>

<li>
<img alt="desktop" src="assets/images/pad.png" />
</li>
</ul>
</div>
</div>


</div>
</div>
//-->
<div class="mid-row">
  <div class="row inner-section platform-row">



    <div class="six columns flyLeft text-left">
      <h2 class="text-left">The Gradulator</h2>
      <div class="hr"></div>
      <p class="text-left">
        Inevitable part of our daily life: calculation. What's better than an app that helps you do it? Of course, a mathematician, but they only show up at night and are always hungry. We offer you the code to our Gradulator Tadapp which helps you calculate your grade for uni.
      </p>
      <div class="green-btn" data-code="/examples/randomwalk.js.txt">Use code</div>
    </div>

    <div class="six columns flyRight text-center">

    </div>

  </div>
</div>

</section>

{% endblock %}

{% block extrascripts %}
<script src="/assets/js/closure-library/closure/goog/base.js"></script>
<script src="/assets/js/jquery/jquery.qrcode-0.11.0.min.js"></script>
<script src="/assets/js/zlib/gzip.min.js"></script>

<script src="/assets/javascripts/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="/assets/js/update.js"></script>

<script src="app.js"></script>

<script>

var editor = ace.edit('editor');
editor.setOptions({
  maxLines: Infinity,
  fontSize: "11pt"
});
editor.setTheme('ace/theme/chrome');
editor.getSession().setMode('ace/mode/jsx');

timeout = null;
editor.on('change', function(e) {
  clearTimeout(timeout);
  timeout = setTimeout(function() {
    update();
  }, 500);
});

$(document).ready(function() {
  $.get('/examples/hello.js.txt', function (data) {
    editor.setValue(data);
    editor.moveCursorToPosition({row: 0, column: 0});
  });
});

$('#ta_panel_randomwalk .green-btn').on('click', function(e) {
  $.get($(this).data('code'), function(data) {
    editor.setValue(data);
    editor.moveCursorToPosition({row: 0, column: 0});
  });
  $('html, body').animate({
    scrollTop: 0
  }, 2000);
});
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55181117-2', 'auto');
ga('send', 'pageview');

</script>
{% endblock %}
