{% extends 'partials/layout.html' %}

{% block extrastyles %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<section id="editor-panel">
  <div id="ide"></div>
</section>
<section id="features-detail" class="odd-section">
  <br>
  <div class="row inner-section section-preamble text-center flyIn">
    <h2>Ta-da-app! Had fun?</h2>
    <p>
      We are looking to add more Tapps to our examples collection. Share yours?
    </p>
    <div class="hr"></div>
  </div>
</section>
{% endblock %}

{% block extrascripts %}
<script src="/assets/js/closure-library/closure/goog/base.js"></script>
<script src="/assets/js/jquery/jquery.qrcode-0.11.0.min.js"></script>
<script src="/assets/js/zlib/gzip.min.js"></script>

<script src="/assets/javascripts/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="/assets/js/update.js"></script>
<script src="babel.min.js"></script>
<script src="babili.min.js"></script>
<script src="app.js"></script>
{% endblock %}
