{% extends 'partials/layout.html' %}

{% block content %}
<section id="home">
  <div class="row">
    <div id="home-slider" class="flexslider">
      <ul class="slides">
        <li>
          <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col animated fadeInUpBig slide-left hide-for-small">
                <img alt="front" src="assets/images/pad.png" />
              </div>
              <div class="mdl-cell mdl-cell--6-col animated fadeInRightBig slide-right">
                <h1 class="text-right">Create apps on your<br/> tablet, as never<br/> before!</h1>
                <div class="hr hide-for-small"></div>
                <div style="clear: both;">
                  <h4 class="text-right hide-for-small">
                    We're getting closer to our goal of<br />making simple apps simple.
                  </h4>
                  <br><br>
                  <a href="/create" class="scroll"><div class="btn right">Explore</div></a>
                </div>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="newsletter">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <i class="entypo newspaper">&nbsp;</i>
      <div id="newsletter-text">
          <h4>Keep up to date because we move fast!</h4>
          <h4>Day and night we try to be bright.</h4>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <a class="newsletter-btn left btn form-send" href="http://twitter.com/">Follow on Twitter!</a>
    </div>
  </div>
</section>
{% endblock %}
