{% extends 'partials/layout.html' %}

{% block content %}
<section id="home">
  <div class="row">
    <div id="home-slider" class="flexslider">
      <ul class="slides">
        <li>
          <div class="six columns animated fadeInUpBig slide-left hide-for-small">
            <img alt="front" src="assets/images/pad.png" />
          </div>
          <div class="six columns animated fadeInRightBig slide-right">
            <h1 class="text-right">Create apps on your tablet, as never before!</h1>
            <div class="hr hide-for-small"></div>
            <div style="clear: both;">
              <h4 class="text-right hide-for-small">
                We're getting closer to our goal of<br />making simple apps simple.
              </h4>
              <br><br>
              <a href="/create" class="scroll"><div class="btn right">Explore</div></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="newsletter">
  <div class="row inner-section">
    <div class="one columns"></div>
    <div class="seven columns">
      <i class="entypo newspaper">&nbsp;</i>
      <div id="newsletter-text" >
        <h3 class="text-white">Keep up to date because we move fast!</h3>
        <h3 class="text-white">Day and night we try to be bright.</h3>
      </div>
    </div>
    <div class="four columns">
      <a class="newsletter-btn left btn form-send" href="http://twitter.com/">Follow on Twitter!</a>
    </div>
    <div class="one columns"></div>
  </div>
</section>
{% endblock %}
