<section id="footer">
  <div class="row inner-section">
    <div class="three columns">
      <h5 class="footer-title">NAVIGATE</h5>
      <ul>
        <li><a href="/" class="scroll">OVERVIEW</a></li>
        <li><a href="/create.html" class="scroll">CREATE NOW</a></li>
        <li><a href="" class="scroll">DOWNLOAD</a></li>
        <li><a href="/faq.html" class="scroll">FAQ</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">ABOUT US</h5>
      <p>
        We are a group of passionate tadappers. That is, we like solving one problem at a time using the least amount of code possible. Sounds fun? Get in touch!
      </p>
    </div>
    <div class="three columns">
      <h5 class="footer-title">WE NEED HELP</h5>
      <!--//
      <div class="details-error-wrap hide">Please enter a valid email address</div>
      <input class="newsletter-email left" type="text" placeholder="E-mail Address" />
      <input class="newsletter-btn right btn form-send" type="submit" value="Job me!" />
      <div class="hide green-btn newsletter-btn right btn form-sent">Subscribed</div>
      //-->
      <a class="green-btn newsletter-btn btn" target="_blank" href="https://docs.google.com/forms/d/1xGP1lUzGbXzQTlwnntvM9jr-VAXzeEPtTaVaX1yCFNs/viewform?usp=send_form">I'll do something!</a>
    </div>
    <div class="three columns text-right">
      <h5 class="footer-title">CONTACT</h5>
      <div class="mail-link">
        <i class="entypo mail text-white"></i>
        <a href="mailto:hello@sqhive.london">hello@sqhive.london</a>
      </div>
      <div class="footer-social">
        <a href="#"><i class="entypo-social twitter text-white"></i></a>
        <a href="#"><i class="entypo-social github text-white"></i></a>
      </div>
      <h3 class="footer-title">Tapps</h3>
    </div>
  </div>
</section>
