<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__right-section">
      <a href="#">Introduction</a>
      <a target="_blank" href="https://raw.githubusercontent.com/sqhive/tapps-website/master/LICENSE">Licence</a>
      <a href="#">Terms of Service</a>
    </div>
  </div>
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <h1 class="mdl-mega-footer__heading">NAVIGATE</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/" class="scroll">OVERVIEW</a></li>
        <li><a href="/create.html" class="scroll">CREATE NOW</a></li>
        <li><a href="" class="scroll">DOWNLOAD</a></li>
        <li><a href="/faq.html" class="scroll">FAQ</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <h1 class="mdl-mega-footer__heading">ABOUT US</h1>
      <p>
        We like solving one problem at a time, using the least amount of code possible. This is the philosophy behind Tapps.
      </p>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <h1 class="mdl-mega-footer__heading">WE NEED HELP</h1>
      <p>
        As a group of people devoting free time, there's only so much we can do
        on our own. Would you like to contribute?
      </p>
      <ul class="mdl-mega-footer__link-list">
        <li>
          <a href="https://github.com/sqhive/tapps-website/issues">
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">
            I'll do something!
            </button>
          </a>
        </li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <h1 class="mdl-mega-footer__heading">ABOUT US</h1>
      <p>
        We like solving one problem at a time, using the least amount of code possible. This is the philosophy behind Tapps.
      </p>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-mega-footer__right-section">
      <div class="mdl-logo">Tapps</div>
      <div class="mdl-links">
        <a href="#">
          <i class="entypo-social twitter text-white"></i>
        </a>
        <a href="#">
          <i class="entypo-social github text-white"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
