<header class="mdl-layout__header mdl-layout__header--waterfall">
  <!-- Top row, always visible -->
  <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Tapps</span>
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="./">
          <button class="mdl-button mdl-js-button mdl-button--flat">OVERVIEW</button>
        </a>
        <a class="mdl-navigation__link" href="./create.html">
          <button class="mdl-button mdl-js-button mdl-button--flat">CREATE NOW</button>
        </a>
        <a class="mdl-navigation__link" href="">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">DOWNLOAD</button>
        </a>
      </nav>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
        </div>
    </div>
  </div>
</header>
