<div id="main-nav">
  <div class="row">
    <div class="twelve columns">
      <div class="logo left animated fadeInDown">
        <h5 class="alt-h">Tapps</h5>
      </div>
      <div id="mobile-toggle" class="show-for-small"><i class="entypo list"></i></div>
      <div class="nav-holder right">
        <ul>
          <li><a href="/" class="scroll">OVERVIEW</a></li>
          <li><a href="/create.html" class="scroll">CREATE NOW</a></li>
          <li>
            <a href="#">
              <div class="blue-btn">DOWNLOAD</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
