/**
 * Home
 *
 * @type: page
 */

.navbar-offset {
	padding-top: 100px;
}

#home {
	padding-top: 5em;
	background-size: cover;
	background-color: #8CDDCD;
	overflow: hidden;
	margin-bottom: 44px;
	padding-bottom: 0px !important;
}

#home-slider {
	overflow: hidden;
	position: relative;
	max-height: 534px;

  img {
  	position: relative;
  	top: 10em;
  }

  h1 {
  	font-size: 48px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: rgba(255,255,255,0.7);
  }

  p {
  	font-size: 18px;
  	color: rgba(255,255,255,0.7);
  	margin-bottom: 44px;
  }

  iframe {
  	width: 100% !important;
  	height: 290px;
  	margin-top: 44px;
  	border: none;
  }

  .mdl-grid {
    max-width: 95%;
  }

  .hr {
  	border: 1px solid rgba(255,255,255,0.7);
  	margin-top: 44px;
  	margin-bottom: 44px;
  	width: 60%;
  	float: right;
  }

  .btn {
  	background-color: #dd4749;
  	padding: 20px;
  	color: #fff;
  	font-size: 18px;
  	border-bottom: 4px solid #a02a2c;
  	font-family: 'Montserrat';
  	cursor: pointer;
  	position: relative;
  	margin-bottom: 88px;

    &:hover {
    	top: 5px;
    	border-bottom: 0px solid #a02a2c;
    }
  }
}
