{% extends 'partials/layout.html' %}

{% block content %}
<section id="home">
	<div class="row">

			<div id="home-slider" class="flexslider">
				<ul class="slides">
					<li>
						<div class="six columns animated fadeInUpBig slide-left hide-for-small">
							<img alt="front" src="assets/images/pad.png" />
						</div>

						<div class="six columns animated fadeInRightBig slide-right">
							<h1 class="text-right">Create apps on your tablet, as never before!</h1>
							<div class="hr hide-for-small"></div>
							<div style="clear: both;">
								<p class="text-right  hide-for-small">
									We're getting closer to our goal of<br />making simple apps simple.
									<br>
								</p>
								<br>
								<a href="/create" class="scroll"><div class="btn right">Explore</div></a>
							</div>
						</div>
					</li>
          <!--//
					<li>
						<div class="six columns animated fadeInLeftBig slide-left  hide-for-small">
							<iframe src="http://player.vimeo.com/video/59584804?portrait=0&amp;color=31b7cc"></iframe>
						</div>

						<div class="six columns animated fadeInDownBig slide-right">
							<h1 class="text-right">Flexslider With Video Embeds? Oh Yes.</h1>
							<div class="hr  hide-for-small"></div>
							<p class="right text-right  hide-for-small">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							</p>

							<a href="#pricing-scroll" class="scroll"><div class="btn right">View Pricing</div></a>
						</div>
					</li>
          //-->
				</ul>
				<div style="padding-bottom: 30px;">&nbsp;</div>
			</div>
	</div>
</section>

<!--//
<a id="overview-scroll"></a>
<section id="feature-list" class="even-section">

	<div class="row inner-section section-preamble text-center animated fadeInDown">
		<h2>Not impressed yet? Let's try again!</h2>
		<p>
			Our platform is ideal for apps that solve a particular problem. One problem, one solution.
		</p>
		<div class="hr"></div>
	</div>

	<div class="row feature-row inner-section flyIn">
		<div class="three columns feature text-center">
			<img alt="Feature Icon" src="http://placehold.it/130x130" />
			<br>
			<h4 class="alt-h">SIMPLE</h4>
			<p>
				What's a better way to code up an app than using the most common scripting language? That's right, we use JavaScript! It's easy to use and realiable.
			</p>
		</div>

		<div class="three columns feature text-center">
			<img alt="Feature Icon" src="http://placehold.it/130x130" />
			<h4 class="alt-h">CROSS-PLATFORM</h4>
			<p>
				Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo.
			</p>
		</div>

		<div class="three columns feature text-center">
			<img alt="Feature Icon" src="http://placehold.it/130x130" />
			<h4 class="alt-h">ENTERPRISE FEATURES</h4>
			<p>
				Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo.
			</p>
		</div>

		<div class="three columns feature text-center">
			<img alt="Feature Icon" src="http://placehold.it/130x130" />
			<h4 class="alt-h">AFFORDABLE PRICE</h4>
			<p>
				Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo.
			</p>
		</div>
	</div>


</section>
<a id="gallery-scroll"></a>
<section id="features-detail" class="odd-section">
	<br>
	<div class="row inner-section section-preamble text-center flyIn">
		<h2>Ta-da-app! Here's how it works...</h2>

		<p>
			Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.
		</p>
		<div class="hr"></div>
	</div>

	<div class="row inner-section platform-row">

		<div class="six columns flyLeft text-center">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img alt="desktop" src="assets/images/mac.png" />
					</li>

					<li>
						<img alt="desktop" src="assets/images/mac.png" />
					</li>

				</ul>
			</div>
		</div>

		<div class="six columns flyRight text-right">
			<h2 class="text-right">Desktop</h2>
			<div class="hr"></div>
			<p class="text-right">
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
			</p>
			<div class="green-btn">View Demo</div>
			<div class="blue-btn">Buy Now</div>
		</div>


	</div>

	<div class="mid-row">
		<div class="row inner-section platform-row">


			<div class="six columns flyLeft text-left">
				<h2 class="text-left">Tablet</h2>
				<div class="hr"></div>
				<p class="text-left">
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
				</p>
				<div class="green-btn">View Demo</div>
				<div class="blue-btn">Buy Now</div>
			</div>

			<div class="six columns flyRight text-center">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img alt="desktop" src="assets/images/pad.png" />
						</li>

						<li>
							<img alt="desktop" src="assets/images/pad.png" />
						</li>

						<li>
							<img alt="desktop" src="assets/images/pad.png" />
						</li>
					</ul>
				</div>
			</div>


		</div>
	</div>

	<div class="row inner-section platform-row">

		<div class="six columns flyLeft text-center">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img alt="desktop" src="assets/images/phone.png" />
					</li>

					<li>
						<img alt="desktop" src="assets/images/phone.png" />
					</li>

					<li>
						<img alt="desktop" src="assets/images/phone.png" />
					</li>
				</ul>
			</div>
		</div>

		<div class="six columns flyRight text-right">
			<h2 class="text-right">Smartphone</h2>
			<div class="hr"></div>
			<p class="text-right">
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
			</p>
			<div class="green-btn">View Demo</div>
			<div class="blue-btn">Buy Now</div>
		</div>


	</div>

</section>
//-->
<section id="newsletter">

	<div class="row inner-section">
		<div class="seven columns">
			<i class="entypo newspaper">&nbsp;</i>
			<div id="newsletter-text">
				<h3 class="text-white">Keep up to date because we move fast!</h3>
				<h3 class="text-white">Day and night we try to be bright.</h3>
			</div>
		</div>


		<div class="five columns">
            <!--//
			<div class="details-error-wrap hide">Please enter a valid email address</div>
			<input class="newsletter-email left" type="text" placeholder="Twitter handle" />
			<div class="green-btn newsletter-btn left btn form-sent">Subscribed</div>
            //-->
            <a class="newsletter-btn left btn form-send" href="http://twitter.com/">Follow on Twitter!</a>

		</div>

	</div>

</section>


<section id="as-seen" class="even-section">
    <!--//
	<div class="row inner-section section-preamble text-center flyIn">
		<h2>The Critics Love Us</h2>

		<p>
		</p>
		<div class="hr"></div>
	</div>

	<div class="row inner-section text-center">
		<div class="three columns flyIn">
			<img alt="critic" src="http://placehold.it/210x90" />
			<div class="critic-review">
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star-empty text-white"></i>
				<h5>"Stunning!"</h5>
			</div>
		</div>

		<div class="three columns flyIn">
			<img alt="critic" src="http://placehold.it/210x90" />
			<div class="critic-review">
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<h5>"Intuitive and flexible - superb!"</h5>
			</div>

		</div>

		<div class="three columns flyIn">
			<img alt="critic" src="http://placehold.it/210x90" />
			<div class="critic-review">
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<h5>"In a word, this app is innovative."</h5>
			</div>
		</div>

		<div class="three columns flyIn">
			<img alt="critic" src="http://placehold.it/210x90" />
			<div class="critic-review">
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star text-white"></i>
				<i class="entypo star-empty text-white"></i>
				<h5>"Perfection!"</h5>
			</div>
		</div>
	</div>
	//-->
</section>
{% endblock %}
